body {
background-image: url("./assets/images/merlin_172573308_182a1100-9b46-4a69-8963-0da7ace07c1a-articleLarge.jpg");
background-size: cover;
background-repeat: no-repeat;
background-clip: content-box;
background-position: center;
overflow-x: hidden;
}