.activity-wrapper {
  background-color: white;
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.activity-wrapper:hover {
  background-color: rgb(253, 209, 244);
}

.activity-wrapper button {
  margin: 2px;
  border: none;
  background-color: #3a062d;
  color: white;
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer;
}

.complete {
  color: green;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
}

.Notcomplete {
  color: rgb(151, 30, 0);
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
}

.new-activity {
  width: 50%;
}
