.details-page-wrapper {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
}

.Activity-main-wrapper {
  width: 50%;
  padding: 20px 30px;
  border: 2px solid gray;
  overflow: auto;
  height: 300px;
}
.main-content-wrapper{
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
}
.go-back{
  font-weight: 800;
  color: white;
  font-size: 1.8em;
}

.go-back:hover{
  color: wheat;
}

@media screen and (max-width: 460px) {
  .Activity-main-wrapper {
    width: 100%;
    padding: 10px 5px;
    height: 240px;
  }

  .details-page-wrapper {
    width: 95%;
    flex-direction: column;
  }

  .main-content-wrapper{
    width: 100%;
    flex-direction: column;
  }
}
