.form-wrapper{
    width: 40%;
    margin: 0 auto;
    border: 1px solid rgb(177, 177, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding: 30px 0;
    border-radius: 10px;
    background-color: rgb(245, 220, 250);
}

input{
    border: none;
    height: 50px;
    background-color: rgb(217, 170, 226);
    width: 70%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 0 20px;
}

input:focus {
    outline: none;
    background-color: rgb(225, 186, 233);
}